h1 {
    font-size: 1.75rem;
    color: burlywood;
    margin: auto;
    text-align: center;
  }
  
  .container {
    display: flex;
    padding: 2em;
  }
  
  .component {
    border: 1px solid burlywood;
    margin: 1em;
  }
  
  .title {
    font-size: 1.5rem;
    padding: 1em;
    background-color: burlywood;
  }
  /*글자들이 컴포넌트 상관없이 유지하기위해 rem
  다른 컴포넌트들에 따라 변하려면 em*/
  
  .contents {
    font-size: 1.125rem;
    padding: 1em;
  }
  
  @media screen and (max-width: 48rem) {
    .container {
      flex-direction: column;
    }
  }
  

/*
절대적 : px
상대적 : % v* em rem

기준1. 부모요소 사이즈와의 관계
- 부모요소 사이즈에 따라 사이즈가 변경되어야 한다면 : % em
- 부모와 상관없이 브라우저 사이즈에 따라 변경되어야 한다면 : v* rem
기준2. 요소의 너비와 높이
요소의 너비와 높이에 따라 사이즈가 변경되어야 한다면 : % v*
폰트사이즈에 따라 사이즈가 변경되어야 한다면 : em rem
em vs rem 둘중 뭐가 낫다고 말할 수는 없음! 우리가 원하는 기능에 따라 적절히 사용해야함
나의 컴포넌트가 어디에서 사용되더라도 사이즈가 고정이 되어야한다면 rem
나의 컴포넌트가 어디에서 사용되는지 따라 사이즈가 유동적으로 변경되어야 한다면 em
*/
